@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.backGround {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f41515;

    display: flex;
    align-items: center;
    justify-content: center;
}

.backBanner {
 
    position: absolute;
    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: #388DB1;
    

}
.contentbg {
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 80vw;
    background-color: #E8E8E8;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBlock {
    height: max-content;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    position: relative;
    left: 15%;
    background-color: #E8E8E8;

}
/*----------------------------------*/

.head1 {
    font-family: 'Kanit', sans-serif;
    color: #2B6C88;
    font-weight: 300;
    font-size: 300%;
}

.lbl1 {
    font-family: 'Kanit', sans-serif;
    color: #547878;
    font-size: 125%;

}
.lbl2 {
    font-family: 'Kanit', sans-serif;
    color: #547878;
    font-size: 125%;

    margin-left: 40px;
}

.inp2 {
    width: 53%;
    background: #F7F7F7;
    border: 1px solid rgba(187, 187, 187, 0.853);
    border-radius: 3px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    
    font-size: 125%;
    color: #5a5a5a;
    margin-top: 30px;
    padding-left: 2%;
    margin-left: 20px;
}
.inp1 {
    width: 55%;
    background: #F7F7F7;
    border: 1px solid rgba(187, 187, 187, 0.853);
    border-radius: 3px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    
    font-size: 125%;
    color: #5a5a5a;
    margin-top: 30px;
    margin-left: 20px;
}
.realinp{
    padding-left: 20px;
    height: 25px;
    width: 90%;
    background: #F7F7F7;
    border: 1px solid #F7F7F7;

    
    font-size: 100%;
    color: #5a5a5a;

}


.btnSave {
    padding: 8px 2px;
    margin-top: 50px;
    margin-left: 50%;
    background: #077CD0;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    color: white;
    width: 12%;
    font-family: 'Kanit', sans-serif;
    font-size: 100%;
}

.btnOut {
    padding: 4% 3%;
    position: absolute;
    bottom: 7%;
    left: 50%;
    background: #155275;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    color: white;
    width: 68%;
    font-family: 'Kanit', sans-serif;
    font-size: 120%;
}
.btnHome {
    background: none;
    margin-left: 20%;
    margin-top: 10%;
    color: white;
    font-family: 'Kanit', sans-serif;
}
button {
    cursor: pointer;
    border: none;
}
.line{
    position: absolute;
    left: 1;
    color: #9DB4CA;
    background: #9DB4CA;
    height: 1.5px;
    width: 50%;
    border : #9DB4CA;
}

.profileBtn{
    margin-left: 40%;
    background: #ffffff;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;

    width: 10vw;
    height: 10vw;
}